.pin_form{
    /* border: 2px solid rebeccapurple; */
    height: 300px;
    width: 400px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bgbank.jpg);
    background-size: 500px 400px;
    background-repeat: no-repeat;
    opacity: 0.7;
    border-radius: 30px;
    
}
.pin_form label{
    font-size: 25px;
    font-family: monospace;
    color: #884949;

}
.pin_form input {
    border : 3px solid rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: antiquewhite;
    
}
.main_pin{
    /* border: 2px solid yellow; */
    border-radius: 30px;
    width: 400px;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 30px;
    box-shadow: 15px 15px 15px rgb(3, 9, 11);
}
.pin_form input:hover{
    height: 37px;
    border-color: rgb(172, 133, 133);
    width: 260px;

}
.pin_form button{
    border: 3px  solid blue;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    background-color: rgb(0, 191, 255);
    border-radius: 20px;
}
.pin_form button:hover{
    height: 60px;
    width: 160px;
    background-color: chocolate;


}





