<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBH-Bank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'nav.css' %}">
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'profile.css' %}">
<link rel="stylesheet" href="{% static 'pin.css' %}">
<link rel="stylesheet" href="{% static 'valid.css' %}">
<link rel="stylesheet" href="{% static 'balance.css' %}">
</head>
    
<body>
    {%  include 'nav.html' %}
    {%  block content %}
    {%  endblock content %}
</body>
</html>



